In [ ]:
# https://unofficed.com/courses/mastering-algotrading-a-beginners-guide-using-kiteconnect-api/lessons/getting-historical-data-of-reliance-stocks-using-python-and-zerodha-api/

In [1]:
import logging
from kiteconnect import KiteConnect

logging.basicConfig(level=logging.DEBUG)

kite = KiteConnect(api_key="your_api_key")

# Redirect the user to the login url obtained
# from kite.login_url(), and receive the request_token
# from the registered redirect url after the login flow.
# Once you have the request_token, obtain the access_token
# as follows.

data = kite.generate_session("request_token_here", api_secret="your_secret")
kite.set_access_token(data["access_token"])

/tmp/ipykernel_4154679/3058104947.py:7: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  from kite.kitecustom import *

In [2]:
token = 738561

In [3]:
import datetime
starting_date=datetime.datetime(2019, 1, 1)
ending_date=datetime.datetime.today()

In [4]:
zap=kite.historical_data(token,starting_date,ending_date,"day")
zap= pd.DataFrame(zap)
print(zap.head(10))

                       date     open     high      low    close   volume
0 2019-01-01 00:00:00+05:30  1072.60  1074.55  1058.15  1068.55  4674623
1 2019-01-02 00:00:00+05:30  1062.35  1074.25  1049.45  1054.60  7495774
2 2019-01-03 00:00:00+05:30  1055.65  1062.45  1039.05  1041.60  7812063
3 2019-01-04 00:00:00+05:30  1046.05  1052.75  1030.50  1047.25  8880762
4 2019-01-07 00:00:00+05:30  1055.20  1066.10  1049.45  1053.05  5784264
5 2019-01-08 00:00:00+05:30  1053.35  1058.00  1044.70  1052.95  5901337
6 2019-01-09 00:00:00+05:30  1059.95  1064.70  1047.30  1058.75  6049944
7 2019-01-10 00:00:00+05:30  1055.90  1059.00  1051.40  1055.65  4280617
8 2019-01-11 00:00:00+05:30  1055.75  1061.65  1037.65  1046.65  6781268
9 2019-01-14 00:00:00+05:30  1043.75  1049.00  1035.55  1045.45  4313662

In [6]:
zap=kite.historical_data(token,starting_date,ending_date,"minute")
zap= pd.DataFrame(zap)
print(zap.head(10))

InputException: interval exceeds max limit: 60 days

In [7]:
def fetch_historical_data(kite, token, start_date, end_date, interval):
    # Initialize an empty DataFrame to store the historical data
    full_data = pd.DataFrame()

    # Split the date range into 60-day intervals
    while start_date < end_date:
        # Calculate the end date of the 60-day interval
        interval_end = start_date + datetime.timedelta(days=60)

        # Ensure the interval end does not exceed the overall end date
        if interval_end > end_date:
            interval_end = end_date

        # Fetch historical data for the 60-day interval
        data = kite.historical_data(token, start_date, interval_end, interval)
        data_df = pd.DataFrame(data)

        # Append the fetched data to the full dataset
        full_data = full_data.append(data_df, ignore_index=True)

        # Update the start date for the next interval
        start_date = interval_end

    return full_data

historical_data = fetch_historical_data(kite, token, starting_date, ending_date, "minute")
historical_data

                            date     open     high      low    close  volume
0      2019-01-01 09:15:00+05:30  1062.55  1063.90  1060.25  1061.65   53427
1      2019-01-01 09:16:00+05:30  1062.25  1063.85  1061.65  1063.40   18209
2      2019-01-01 09:17:00+05:30  1063.40  1063.90  1063.25  1063.40   42785
3      2019-01-01 09:18:00+05:30  1063.40  1063.50  1062.30  1062.60   40647
4      2019-01-01 09:19:00+05:30  1062.30  1062.30  1059.50  1059.50   44316
...                          ...      ...      ...      ...      ...     ...
454063 2023-11-24 15:25:00+05:30  2395.95  2396.75  2395.00  2395.65   18228
454064 2023-11-24 15:26:00+05:30  2395.55  2396.00  2394.85  2394.85   12166
454065 2023-11-24 15:27:00+05:30  2395.00  2395.30  2394.50  2394.80   17623
454066 2023-11-24 15:28:00+05:30  2394.55  2394.80  2394.00  2394.00   19879
454067 2023-11-24 15:29:00+05:30  2394.40  2394.90  2394.00  2394.25    9111

[454068 rows x 6 columns]